.container{
    width: 540px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

button{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    
}

.row{
    display: flex;
    flex: 1;
}

.square{
    border: 0.25px solid black;
    flex: 1;
}